.connect-button{

  margin-top: 32px;
  background-color: #182CD1;
  opacity: 90%;
  border-radius: 8px;
  width: 240px;
  height: 50px;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s ease;
  box-shadow: #e8e8e8 0px 2px 4px 2px;

}

.connect-button:hover{
  cursor: pointer;
  opacity: 85%;
  box-shadow: #e8e8e8 0px 2px 4px 4px;
}

.connect-button-image-container{
  height: 50px;
  width: 40px;
  border-right: #4D5CDA 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-button-image{

  width: 22px;
  height: 22px;
  object-fit: contain;

}

.connect-button-text{
  margin-left: 8px;
  margin-right: 8px;
}
