version: "3.4"
x-environment:
  &QUICKSTART_ENVIRONMENT # These are read from .env file. The values in the .env file maybe overriden by shell envvars
  REACT_APP_MONO_PUBLIC: ${REACT_APP_MONO_PUBLIC}
  MONO_SECRET: ${MONO_SECRET}
  MONO_SECRET_KE: ${MONO_SECRET_KE}
  MONO_SECRET_ZA: ${MONO_SECRET_ZA}
  MONO_SECRET_GH: ${MONO_SECRET_GH}
  REACT_APP_API_HOST: ${REACT_APP_API_HOST}
  REACT_APP_MONO_PUBLIC_KE: ${REACT_APP_MONO_PUBLIC_KE}
  REACT_APP_MONO_PUBLIC_ZA: ${REACT_APP_MONO_PUBLIC_ZA}
  REACT_APP_MONO_PUBLIC_GH: ${REACT_APP_MONO_PUBLIC_GH}
services:
  node:
    networks:
      - "quickstart"
    depends_on:
      - "frontend"
    build:
      context: .
      dockerfile: ./node/Dockerfile
    ports: ["8080:8080"]
    environment:
      <<: *QUICKSTART_ENVIRONMENT
  frontend:
    environment:
      - REACT_APP_API_HOST
      - REACT_APP_MONO_PUBLIC
    networks:
      - "quickstart"
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports: ["3000:3000"]
networks:
  quickstart:
    name: quickstart
