.endpoint-container{
  display: grid;
  grid-template-columns: 15% 57% 28%;
  width: 100%;
  border-top: 1px solid #ebebeb;
  text-align: left;
}
.endpoint-contents{
  margin: 2.4rem 3.2rem;
}
.endpoint-header{
  margin-bottom: 0.8rem;
}
.endpoint-name{
  font-weight: bold;
  font-size: 1.6rem;
  padding-right: 0.8rem;
}
.endpoint-schema{
  font-size: 1.6rem;
  font-family: Inconsolata, Consolas, Courier, monospace;
  letter-spacing: -0.24px;
}
.endpoint-description{
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.endpoint-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 1.6rem 0.8rem 2.4rem;
  width: 70%;
  color: #111111;
  height: 16px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  font-family: 'DM Sans',   sans-serif;
  transition: all 0.1s ease;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #111111;
  outline-color: #0868b8;
}
.endpoint-button:hover{
  background: rgba(0, 0, 0, 0);
  border: 1px solid #0868b8;
  cursor: pointer;
}
.endpoint-container-json{
  text-align: left;
  margin-left: 24px;
  margin-right: 16px;
  border-radius: 2px;
  max-height: 600px;
  overflow: scroll;
  margin-bottom: 32px;
}
