.products-container{
  margin-bottom: 64px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.products-header{

  border-bottom: 0px;
  height: 5.4rem;
  font-weight: 800;
  padding-top: 3rem;
  padding-left: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.4rem;
  line-height: 1.33;
  text-align: left;
  border-top: 1px solid #ebebeb;

}
