.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 56rem;
  max-width: 67.2rem;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  margin-top: 7.2rem;
  margin-bottom: 0;
  font-weight: 800;
  height: 4.8rem;
  font-size: 3.6rem;
  line-height: 1.33;
}

.subtitle{
  margin-top: 0 !important;
  margin-bottom: 2.4rem !important;
  font-size: 2.4rem;
  line-height: 1.33;
  font-weight: normal;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.description{
  font-weight: 500;
  width: 100%;
  font-size: 1.6rem;
  margin: 1rem 0;
  line-height: 1.5;
  color: #4b4b4b;
  display: block;
  text-align: left;
}

.description-extra-margin{
  margin-top: 32px;
  margin-bottom: 8px;
}
