.request-type{
  /* margin: 1.6rem 0px 1.6rem 2.4rem;
  font-size: 1.4rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: monospace;
  height: 3.2rem;
  min-width: 7.2rem;
  border-radius: 0.2rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0 0.8rem 0 0.8rem; */

  /* margin: 2.4rem 0px 1.6rem 2.4rem;
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  min-width: 7.2rem;
  border-radius: 0.2rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0 0.8rem 0 0.8rem; */

  margin: auto 0px auto 2.4rem;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  min-width: 7rem;
  border-radius: 200px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.8rem 0 0.8rem 0;

}

.post-request{
  color: white;
  background-color: #0272d9;
}

.get-request{
  color: white;
  background-color: #0e9b71;
}

.put-request{
  color: white;
  background-color: #674ead;
}

.delete-request{
  color: white;
  background-color: #c71b29;
}
