.request-type{
  margin: 1.6rem 0px 1.6rem 2.4rem;
  font-size: 1.4rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: monospace;
  height: 3.2rem;
  min-width: 7.2rem;
  border-radius: 0.2rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0 0.8rem 0 0.8rem;
}

.post-request{
  border: 1px solid #0272d9;
}

.get-request{
  border: 1px solid #0e9b71;
}

.put-request{
  border: 1px solid #674ead;
}

.delete-request{
  border: 1px solid #c71b29;
}
